@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif; 
    background-color: #252326;
}

.container{
    max-width: 1200px;
    margin: 0% auto;
}

.header{
    display: flex;
    position: relative;
}

.menu{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo{
    color: #fdfdfd;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fdfdfd;
    display: block;
}
.menu .navbar ul li a:hover{
    color: #7e7674;
}

#menu{
    display: none;
}
.menu-icono{
    width: 30px;
}

.menu label{
    cursor: pointer;
    display: none;
}


.submenu{
position: relative;

}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0%;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
    
}

table{
    width: 100%;
}
th{
    color: #fdfdfd;
}
td{
    color: #fdfdfd;
}

.borrar{
    background-color: #e45d34;
    border-radius: 50%;
    padding: 5px 10px;
    font-weight: 800;
}

.header-content{
    position: relative;
    text-align: center;
    margin-top: 300px;
}
.header-content h1{
    font-size: 70px;
    color: #fdfdfd;
    font-weight: 800;
    margin-bottom: 30px;
}
.header-content p{
    font-size: 18px;
    padding: 0 200px;
    color: #8b7e7b;
    margin-bottom: 80px;
}

.botons{
    display: flex;
    justify-content: center;
}
.btn-1{
    display: inline-block;
    width: 200px;
    margin: 0 10px;
    padding: 13px 0;
    border-radius: 25px;
    color: #fdfdfd;
    text-transform: uppercase;
    background-color: #e45d34;

}
.btn-1:hover{
    background-color:#e44414;
}


.socials-1{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0%;
    right: 0%;
}
.socials-1 img{
    width: 20px;
    margin-bottom: 20px;
}

.arrow{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 150px;
}

.recetas{
    display: flex;
    padding: 120px 0;
}
.recetas-1{
    width: 50%;
}
.recetas-1 h3{
    font-size: 18px;
    color: #fdfdfd;
}
.recetas-1 p{
    color: #e45d34;
}
.recetas-1 hr{
    margin: 10px 0;
    border: 1px solid #312f32;
}
.recetas-2{
    width: 50%;
    text-align: center;

}
.recetas-2 h2{
    font-size: 55px;
    line-height: 55px;
    color: #fdfdfd;
}

/* ______________ */

.platillos{
    padding: 50px 0;
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    text-align: center;
    padding-bottom: 80px;
}
.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 25px;
    color: #e45d34;
}

.swiper-pagination-bullet{
    color: #fdfdfd;
    opacity: 1;
    top: 50px;
}
.swiper-pagination-bullet-active{
    background-color: #e45d34;
}

.platillo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}
.platillo h3{
    font-size: 16px;
    color: #fdfdfd;
    margin-bottom: 10px;
}
.precio{
    font-size: 18px;
    color: #e45d34;

}
.platillo img{
    width: 200px;
}
.platillo p{
    font-size: 16px;
    color: #fdfdfd;
    margin-top: 15px;

}
.btn-2{
    display: inline-block;
    padding: 8px 15px;
    background-color: #e85123;
    color: #fdfdfd;
    font-size: 14px;
    margin-top: 25px;
    border-radius: 25px;
}
.btn-2:hover{
    background-color: #c23b11;
}


.c1, .c2{
    color: #8d7e7b;
}
.btn-3{
    display: inline-block;
    color: #fdfdfd;
    padding: 8px 15px;
    border-radius: 25px;
    margin-top: 25px;
    border: 1px solid #fdfdfd;
}
.btn-3:hover{
    background-color: #e85123;
    border: 1px solid white;
}



.footer{
    padding-bottom: 50px;

}

.links{
    display: flex;
    justify-content: space-between;
}
.link{
    width: 25%;
}
.link h3{
    font-size: 20px;
    color: #fdfdfd;
    margin-bottom: 20px;
}
.link p{
    color: #8d7e7b;
    font-size: 14px;
    margin: 0 50px 15px 0;
}

.link ul li a{
    display: inline-block;
    font-size: 16px;
    color: #fdfdfd;
    margin-bottom: 10px;
}


.socials-2 img{
    width: 20px;
    height: 20px;
}


.link form{
    display: flex;
    flex-direction: column;
}
.inp{
    margin-bottom: 15px;
    padding: 8px 15px;
    border-radius: 10px;
    outline: none;
}
.btn-4{
    padding: 8px 15px;
    border-radius: 10px;
    background-color: #c23b11;
    border: 0;
    color: #fdfdfd;
}


@media screen and (max-width:991px){
    .menu{
        padding: 10px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #312f32;
        display: none;
    }

    .logo{
        display: none;
    }


    .menu .navbar  ul li{
        width: 100%;
        text-align: center;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }

    .header-content{
        flex-direction: column;
        padding: 30px;
        margin-top: 150px;
    }
    .header-content h1{
        font-size: 40px;
    }
    .header-content p{
        padding: 0%;
        margin-bottom: 40px;
    }
    .botons{
        flex-direction: column;
        align-items: center;
    }
    .btn-1{
        margin: 0 0 20px 0;
    }
    .socials-1, .arrow{
        display: none;
    }


    .recetas{
        flex-direction: column;
        padding: 25px;
        text-align: center;
    }
    .recetas-1, .recetas-2{
        width: 100%;
        margin-bottom: 25px;
        
    }
    

    .footer{
        padding: 30px;
    }
    .links{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .link{
        width: 70%;
    }
    .link p{
        margin: 0 0 25px 0;
    }


    .socials-2{
        margin-bottom: 15px;
    }
}